
* {
    margin: 0;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

canvas {
    background-color: transparent;
    position: fixed;
}

#Sone {
    position: absolute;
    color: black;
    font-size: 24px;
    z-index: 999;
    pointer-events: none;
    background-color: rgba(67, 241, 67, 0.432);
    padding: 5px;
    border-radius: 10px 10px 0px 10px;
}
